<!-- area-details-modal.component.html -->
<div class="modal-header">
  <h4 class="modal-title">Edit Area Name</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="areaName" class="form-label">Area Name</label>
      <input type="text" class="form-control" id="areaName" [(ngModel)]="areaName" name="areaName">
    </div>

    <div class="mb-3" *ngIf="soilMoisture !== undefined">
      <label for="soilMoisture" class="form-label">Soil Moisture (%)</label>
      <input type="text" class="form-control" id="soilMoisture" [value]="soilMoisture" name="soilMoisture" readonly>
    </div>
  </form>

  <button type="button" class="btn btn-info" (click)="waterPlants()">Water the Plants</button>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
  <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
</div>
